{% load static %}

<footer class="footer-admin mt-auto footer-light">
    <div class="container-xl px-4">
        <div class="row">
            <div class="col-md-6 small">
                Copyright © 
                {{ request.site_name|default:"LEAP UNPAD" }}
                {{ now|date:"Y" }}
            </div>
            <div class="col-md-6 text-md-end small">
                <a href="#">Privacy Policy</a> &middot;
                <a href="#">Terms & Conditions</a>
            </div>
        </div>
    </div>
</footer>
