{% extends "base/base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container-xl px-4 mt-4">
    <h1 class="mt-4"></h1>

    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Home / Dashboard</li>
    </ol>

    <div class="row">

        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4 shadow">
                <div class="card-body">CV Builder</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">
                        View
                    </a>
                    <div class="small text-white"><i data-feather="arrow-right"></i></div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4 shadow">
                <div class="card-body">Courses</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">
                        View
                    </a>
                    <div class="small text-white"><i data-feather="arrow-right"></i></div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4 shadow">
                <div class="card-body">Exams</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">
                        View
                    </a>
                    <div class="small text-white"><i data-feather="arrow-right"></i></div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
